.advantages-preview {
  align-items: baseline;
  justify-content: space-between;

  @media(max-width: $pc) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__item {
    width: 100%;
    max-width: em(350, $fz);

    @media(max-width: $ws) {
      max-width: em(253, $fz);
    }
    @media(max-width: $pc) {
      max-width: em(520, $fz);
    }

    &:not(:first-child) {
      @media(max-width: $pc) {
        margin-top: em(15, $fz);
      }
    }
  }
}
