.footer-menu {
  &__item {
    &:not(:last-child) {
      margin-right: em(30, $fz);
    }
  }

  &__link {
    --footer-menu-color: #{$primary};

    &:hover,
    &:visited {
      --footer-menu-color: #{transparentize($primary, 0.2)};
    }
  }

  &__text {
    $fz: 14;
    color: var(--footer-menu-color);
    text-transform: uppercase;
    font-size: em($fz, $fz_base);
    font-weight: 300;
    transition: color 0.3s ease-in-out;
  }
}
