mixin FooterMenu
  ul.footer-menu.footer__menu
    for item in footerMenu
      li.footer-menu__item
        a.footer-menu__link(href=item.url title=item.title)
          span.footer-menu__text= item.text
