$font: "Gilroy", "Roboto", sans-serif;

$theme: hsl(217, 84%, 55%);
$primary: hsl(0, 0%, 95%);
$secondary: hsl(216, 15%, 20%);
$thirdly: hsl(229, 12%, 17%);
$forth: hsl(233, 4%, 58%);

$sm: 575px;
$md: 767px;
$pc: 1023px;
$ws: 1919px;

//$color: hsl(217, 84%, 55%);
