.advantages-list {
  align-items: baseline;
  justify-content: center;

  @media(max-width: $md) {
    flex-direction: column;
  }

  &__item {
    width: 100%;
    max-width: em(350, $fz);

    display: flex;

    @media(max-width: $pc) {
      max-width: em(220, $fz);
    }
    @media(max-width: $md) {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-right: em(30, $fz);

      @media(max-width: $pc) {
        margin-right: em(15, $fz);
      }
      @media(max-width: $md) {
        margin-right: 0;
        margin-bottom: em(15, $fz);
      }
    }
  }

  &__icon {
    flex: 0 0 auto;
    margin-top: em(5, $fz);
    margin-right: em(20, $fz);
    color: $theme;

    &--is-lamp {
      width: em(25, $fz);
      height: em(30, $fz);
    }

    &--is-rocket {
      width: em(27, $fz);
      height: em(27, $fz);
    }

    &--is-gears {
      width: em(28, $fz);
      height: em(28, $fz);
    }
  }

  &__info {
    margin-top: em(15, $fz);

    @media(max-width: $md) {
      margin-top: 0;
    }
  }
}

.advantages-list-title,
.advantages-list-info {
  &__text {
    color: $secondary;
    font-weight: 300;
  }
}

.advantages-list-title {
  &__text {
    $fz: 24;
    text-transform: capitalize;
    font-size: em($fz, $fz_base);

    @media(max-width: $pc) {
      $fz: 18;
      font-size: em($fz, $fz_base);
    }
  }
}

.advantages-list-info {
  &__text {
    @media(max-width: $pc) {
      $fz: 14;
      font-size: em($fz, $fz_base);
    }
  }
}
