.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    &:not(:last-child) {
      margin-right: em(15, $fz);
    }
  }

  &__link {
    --socials-color: #{$forth};

    &:hover {
      --socials-color: #{$primary};
    }
  }

  &__icon {
    width: em(28, $fz);
    height: em(28, $fz);
    color: var(--socials-color);
    transition: color 0.3s ease-in-out;
  }
}
