.cta {
  background-image: url("/img/cta-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media(max-width: $pc) {
    background-image: url("/img/cta-bg-mobi.jpg");
  }
  @media(max-width: $md) {
    background-position: em(-140, $fz) 100%;
  }

  &__wrapper {
    height: 100%;

    flex-direction: row;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;

    @media(max-width: $md) {
      flex-direction: column;
    }
  }

  &__title {
    margin-right: em(120, $fz);

    @media(max-width: $md) {
      margin-right: 0;
    }
  }

  &__button {
    width: 100%;
    max-width: em(255, $fz);

    @media(max-width: $md) {
      margin-top: em(15, $fz);
    }
  }
}

.cta-title {
  &__text {
    $fz: 36;
    color: $primary;
    font-size: em($fz, $fz_base);
    font-weight: 700;

    @media(max-width: $pc) {
      $fz: 30;
      font-size: em($fz, $fz_base);
    }
  }
}
