.address {
  display: flex;
  flex-direction: column;

  @media(max-width: $pc) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media(max-width: $md) {
    flex-direction: column;
    align-items: center;
  }

  &__link {
    --address-color: #{$forth};

    display: flex;
    justify-content: center;

    &:last-child {
      max-width: em(160, $fz);
    }

    &:not(:first-child) {
      margin-top: em(30, $fz);

      @media(max-width: $pc) {
        margin-top: 0;
      }
    }

    &:hover,
    &:visited {
      --address-color: #{$primary};
    }
  }

  &__icon {
    height: em(11, $fz);
    margin-top: em(5, $fz);
    margin-right: em(10, $fz);
    color: $primary;

    &--is-phone-wc {
      width: em(11, $fz);
    }

    &--is-geo {
      width: em(9, $fz);
    }

    &--is-mail {
      height: em(13, $fz);
    }
  }

  &__text {
    max-width: em(138, $fz);
    color: var(--address-color);
    transition: color 0.3s ease-in-out;

    @media(max-width: $pc) {
      max-width: 100%;
    }
  }
}
