.menu {
  $self: &;

  &--in-header {
    @media(max-width: $pc) {
      padding-top: em(25, $fz);
      padding-bottom: em(25, $fz);
      border-top: em(2, $fz) solid $theme;
      background-color: $primary;
      transform: translateY(#{em(70, $fz)});
      transition: transform 0.3s ease-in-out;
    }
  }

  &--in-footer {
    #{$self}__list {
      margin-top: em(24, $fz);
    }

    #{$self}-list {
      flex-direction: column;
      align-items: baseline;

      @media(max-width: $pc) {
        flex-direction: row;
      }

      &__item {
        --menu-list-link-color: #{$forth};

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: em(25, $fz);

          @media(max-width: $pc) {
            margin-right: em(25, $fz);
            margin-bottom: 0;
          }
        }

        &:hover,
        &--is-active {
          --menu-list-link-color: #{$primary};
        }
      }
    }
  }
}

.menu-title {
  @media(max-width: $pc) {
    text-align: center;
  }

  &__text {
    $fz: 24;
    color: $primary;
    font-size: em($fz, $fz_base);
    font-weight: 500;
  }
}

.menu-toggler {
  $self: &;
  position: absolute;
  top: em(-55, $fz);
  left: 50%;
  z-index: 1;
  width: em(80, $fz);
  height: em(55, $fz);

  display: none;

  border: em(2, $fz) solid $theme;
  border-radius: em(100 100, $fz) 0 0;
  border-bottom-color: transparent;
  background-color: $primary;
  transform: translateX(-50%);

  @media(max-width: $pc) {
    display: block;
  }
  @media(max-width: $md) {
    left: 0;
    transform: unset;
  }

  &__line,
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: em(35, $fz);
    height: em(2, $fz);
    background-color: $theme;
  }

  &::after,
  &::before {
    content: "";
    transition: transform 0.3s ease-in-out;
  }

  &::after {
    transform: translate(-50%, calc(-50% + #{em(15, $fz)}));
  }

  &::before {
    transform: translate(-50%, calc(-50% - #{em(5, $fz)}));
  }

  &__line {
    transform: translate(-50%, calc(-50% + #{em(5, $fz)}));
  }

  &--is-opened {
    &#{$self} {
      #{$self}__line {
        display: none;
      }

      &::after {
        transform: translate(-50%, calc(-50% + #{em(5, $fz)})) rotate(45deg);
      }

      &::before {
        transform: translate(-50%, calc(-50% + #{em(5, $fz)})) rotate(-45deg);
      }
    }
  }
}

.menu-list {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    --menu-list-link-color: #{$secondary};

    &:not(:last-child) {
      margin-right: em(60, $fz);

      @media(max-width: $ws) {
        margin-right: em(35, $fz);
      }
    }

    &:hover,
    &--is-active {
      --menu-list-link-color: #{$theme};
    }
  }
}

.menu-list-link {
  color: var(--menu-list-link-color);
  text-transform: capitalize;
  transition: color 0.3s ease-in-out;


  &__text {
    $fz: 18;
    font-size: em($fz, $fz_base);
  }
}
