.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: em(20 25, $fz);
  border-radius: em(5, $fz);
  background-color: var(--button-bg-color);
  transition: background-color 0.3s ease-in-out;
  
  @media(max-width: $pc) {
    padding: em(15, $fz);
  }

  &--theme-primary {}

  &--theme-secondary {
    --button-text-color: #{$theme};
    --button-bg-color: #{$primary};

    &:hover {
      --button-bg-color: #{darken($primary, 10%)};
    }
  }

  &--theme-accent {
    --button-text-color: #{$primary};
    --button-bg-color: #{$theme};

    &:hover {
      --button-bg-color: #{darken($theme, 10%)};
    }
  }

  &--size-md {
    $fz: 18;
    --button-text-size: #{em($fz, $fz_base)};
  }

  &__text {
    color: var(--button-text-color);
    text-transform: uppercase;
    font-size: var(--button-text-size);
  }
}
