.advantages-promo {
  align-self: baseline;

  @media(max-width: $pc) {
    text-align: center;
  }

  &__link {
    position: relative;
    height: em(26, $fz);

    display: inline-block;
  }

  &__info,
  &__link {
    margin-top: em(30, $fz);

    @media(max-width: $pc) {
      margin-top: em(20, $fz);
    }
  }
}

.advantages-promo-title {
  &__text {
    $fz: 36;
    color: $secondary;
    font-size: em($fz, $fz_base);
    font-weight: 300;

    @media(max-width: $pc) {
      $fz: 30;
      font-size: em($fz, $fz_base);
    }

    &--is-colored {
      color: $theme;
    }
  }
}

.advantages-promo-info {
  &__text {
    $fz: 18;
    color: $secondary;
    font-size: em($fz, $fz_base);
    font-weight: 300;
    line-height: 1.66;

    @media(max-width: $pc) {
      $fz: 16;
      font-size: em($fz, $fz_base);
    }
  }
}

.advantages-promo-link {
  --advantages-promo-link-color: #{$theme};

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;

    content: "";
    background-color: var(--advantages-promo-link-color);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  &:hover {
    --advantages-promo-link-color: #{transparentize($theme, 0.2)};

    &::after {
      transform: scaleX(0);
    }
  }

  &__text {
    $fz: 18;
    color: var(--advantages-promo-link-color);
    font-size: em($fz, $fz_base);
    font-weight: 300;
    transition: color 0.3s ease-in-out;
  }
}
