mixin Breadcrumbs(parent, page)
  - parent = parent ? parent : 'services';

  section.breadcrumbs
  p= breadcrumbs.services.title
  //h2.breadcrumbs-title
  //  span.breadcrumbs-title__text= breadcrumbsInfo.title
  //
  //ul.breadcrumbs-list.breadcrumbs__list
  //  for link in breadcrumbsInfo.items
  //    li.breadcrumbs-list__item
  //      a.breadcrumbs-link(href=link.url title=link.title disabled=link.isActive)
  //        span.breadcrumbs-link__text= link.text
