.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media(max-width: $pc) {
    flex-direction: row;
  }

  &__pic {
    @media(max-width: $pc) {
      flex: 1 0 em(200, $fz);
      margin-right: em(15, $fz);
    }
  }

  &__img {
    height: 100%;
    max-height: em(308, $fz);

    @media(max-width: $pc) {
      max-height: em(175, $fz);
    }
  }

  &__header {
    margin-top: em(20, $fz);

    @media(max-width: $pc) {
      margin-top: 0;
      margin-right: em(30, $fz);
    }
  }

  &__wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  &__body {
    margin-top: em(15, $fz);
    margin-bottom: em(15, $fz);

    @media(max-width: $pc) {
      margin-top: em(10, $fz);
      margin-bottom: 0;
    }
  }

  &__footer {
    margin-top: auto;
  }
}

.card-title {
  &__text {
    $fz: 24;
    color: $secondary;
    text-transform: capitalize;
    font-size: em($fz, $fz_base);

    @media(max-width: $pc) {
      $fz: 18;
      font-size: em($fz, $fz_base);
    }
  }
}

.card-created {
  &__text {
    $fz: 14;
    color: transparentize($secondary, 0.5);
    font-size: em($fz, $fz_base);
    font-weight: 300;

    @media(max-width: $pc) {
      $fz: 12;
      font-size: em($fz, $fz_base);
    }
  }
}

.card-promo {
  &__text {
    color: $secondary;

    @media(max-width: $pc) {
      $fz: 14;
      font-size: em($fz, $fz_base);
    }
  }
}

.card-link {
  --news-card-link-color-text: #{$theme};
  position: relative;

  @media(max-width: $pc) {
    position: absolute;
    top: 0;
    right: 0;
    width: em(30, $fz);
    height: em(30, $fz);

    border-radius: 50%;
    background-color: var(--news-card-link-color-text);
    transition: background-color 0.3s ease-in-out;
  }

  &::after {
    position: absolute;
    bottom: em(-5, $fz);
    left: 0;
    width: 100%;
    height: 1px;

    content: "";
    background-color: darken($theme, 10%);
    transition: transform 0.3s ease-in-out;

    @media(max-width: $pc) {
      $fz: 24;
      top: 50%;
      bottom: unset;
      left: 50%;
      width: auto;
      height: auto;

      content: "»";
      background-color: transparent;
      color: $primary;
      font-size: em($fz, $fz_base);
      transform: translate(-50%, -50%);
      transition: color 0.3s ease-in-out;
    }
  }

  &:hover {
    --news-card-link-color-text: #{darken($theme, 10%)};

    @media(max-width: $pc) {
      background-color: darken(darken($theme, 10%), 5%);
    }

    &::after {
      transform: scaleX(0);

      @media(max-width: $pc) {
        color: darken($primary, 5%);
        transform: translate(-50%, -50%);
      }
    }
  }

  &__text {
    $fz: 18;
    color: var(--news-card-link-color-text);
    font-size: em($fz, $fz_base);
    transition: color 0.3s ease-in-out;

    @media(max-width: $pc) {
      $fz: 0;
      font-size: em($fz, $fz_base);
    }
  }
}
