.counters {
  padding-top: em(65, $fz);
  padding-bottom: em(65, $fz);
  background: transparent url("/img/counters-bg.jpg") fixed center/cover no-repeat;

  @media(max-width: $pc) {
    background-image: url("/img/counters-bg-mobi.jpg");
  }

  &__wrapper {
    flex-direction: row;

    @media(max-width: $md) {
      flex-direction: column;
    }
  }

  &__info {
    width: 100%;
    max-width: em(350, $fz);

    @media(max-width: $pc) {
      max-width: em(330, $fz);
    }
  }

  &__list {
    width: 100%;
    max-width: em(415, $fz);
    margin-left: auto;

    @media(max-width: $pc) {
      max-width: em(350, $fz);
      margin-left: auto;
    }
    @media(max-width: $md) {
      margin-top: em(25, $fz);
      margin-left: unset;
    }
  }
}
