include CountersInfo/template
include CountersList/template

mixin Counters(parent)
  - parent = parent ? parent : 'home';

  section.counters(class=`${parent}__counters`)
    .counters__wrapper.u-wrapper
      +CountersInfo('', counters.info, true)
      +CountersList('', counters.list)
