include AdvantagesList/template
include AdvantagesPromo/template
include AdvantagesPreview/template

mixin Advantages(parent)
  - parent = parent ? parent : 'home';

  section.advantages(class=`${parent}__advantages`)
    .advantages__wrapper.advantages__wrapper--is-promo-block.u-wrapper
      +AdvantagesPromo('', advantages.promo)
      +AdvantagesPreview('', advantages.previews)

    .advantages__lower
      .u-wrapper.u-wrapper--is-p-0
        +AdvantagesList('', advantages.list)
