.clients {
  &__list {
    margin-top: em(80, $fz);

    @media(max-width: $pc) {
      margin-top: em(45, $fz);
    }
  }
}

.clients-list {
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    &:nth-child(n + 4) {
      margin-top: em(75, $fz);

      @media(max-width: $pc) {
        margin-top: em(30, $fz);
      }
      @media(max-width: $md) {
        margin-top: em(25, $fz);
      }
    }

    &:not(:nth-child(3n)) {
      margin-right: em(220, $fz);

      @media(max-width: $pc) {
        margin-right: em(75, $fz);
      }
      @media(max-width: $md) {
        margin-right: em(40, $fz);
      }
    }
  }
}

.clients-pic {
  &__logo {
    max-width: em(150, $fz);
  }
}

.clients-title {
  position: relative;

  &::after {
    position: absolute;
    bottom: em(-15, $fz);
    left: 50%;
    width: 70%;
    height: 1px;

    content: "";
    background-color: $theme;
    transform: translateX(-50%);
  }

  &__text {
    $fz: 36;
    color: $secondary;
    font-size: em($fz, $fz_base);
    font-weight: 300;

    @media(max-width: $pc) {
      $fz: 28;
      font-size: em($fz, $fz_base);
    }

    &--is-colored {
      color: $theme;
    }
  }
}
