.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &__icon {
    width: em(12, $fz);
    height: em(12, $fz);
    margin-right: em(5, $fz);
    color: $theme;

    @media(max-width: $pc) {
      width: em(16, $fz);
      height: em(16, $fz);
      margin-right: em(10, $fz);
    }
  }

  &__text {
    $fz: 17;
    color: $secondary;
    font-size: em($fz, $fz_base);
    font-weight: 500;

    @media(max-width: $pc) {
      $fz: 18;
      font-size: em($fz, $fz_base);
    }
  }
}
