extends ../layout/base/layout

include ../components/News/template
include ../components/Clients/template
include ../components/Counters/template
include ../components/Advantages/template
include ../components/FirstScreen/template

block metaSeo
  title= pages.home.title

  for content, name in pages.home.meta
    +getMeta('', name, content)

block content
  .home
    +FirstScreen
    +Advantages
    +Counters
    +Clients
    +CTA
    +News
