extends ../layout/base/layout

include ../components/CTA/template

block metaSeo
  title= pages.services.title

  for content, name in pages.services.meta
    +getMeta('', name, content)

block content
  .services
    +CTA
