include ../Card/template

mixin News(parent)
  - parent = (parent) ? parent : 'home';

  section.news(class=`${parent}__news`)
    .u-wrapper.u-wrapper--is-p-0.u-wrapper--is-h-100
      h2.news-title.news__title
        span.news-title__text= news.title

      ul.news-list.news__list
        for newsItem in news.items
          li.news-list__item
            +Card('news-list', newsItem, 'news')

      a.news-link.news__link(href=news.url.link)
        span.news-link__text= news.url.text
