include ../../components/CTA/template
include ../../components/Logo/template
include ../../components/Menu/template
include ../../components/Phone/template
include ../../components/Button/template
include ../../components/Sidebar/template
include ../../components/ArrowUp/template
include ../../components/Address/template
include ../../components/Socials/template
include ../../components/Subscribe/template
include ../../components/Copyright/template
include ../../components/FooterMenu/template
