include mixins
include globals

doctype html
html(lang=templateSettings.lang)
  head
    for type in templateSettings.meta
      for val, name in type
        +getMeta(type, name, val)
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    block metaSeo
    base(href=templateSettings.base)
    for val, type in templateSettings.link.rel
      +getLink(type, val)
  body
    .page
      +Sidebar
      header.page__header
        .page__wrapper.page__wrapper--is-header.u-wrapper
          +Logo
          +Menu('', 'header')
          +Phone
      main.page__main
        block content
      footer.footer.page__footer
        .footer__upper
          .footer__wrapper.footer__wrapper--is-upper-block.u-wrapper
            .footer__col
              +Logo('footer')
              +Address('footer')
              +Socials('footer', 'footer')
            .footer__col
              +Menu('footer', 'footer')
            +Subscribe('footer')
        .footer__lower
          .footer__wrapper.footer__wrapper--is-lower-block.u-wrapper
            +Copyright('footer')
            +FooterMenu

      +ArrowUp
    if false
      include ../../components/ModalComponentName/template

  for script in templateSettings.scripts
    +getScripts(script.name, script.type)
