.counters-info {
  &__promo {
    position: relative;
    margin-top: em(30, $fz);
  }
}

.counters-info-title {
  &__text {
    $fz: 36;
    color: $primary;
    font-size: em($fz, $fz_base);
    font-weight: 300;

    @media(max-width: $pc) {
      $fz: 30;
      font-size: em($fz, $fz_base);
    }
  }
}

.counters-info-promo {
  padding-top: em(20, $fz);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: em(95, $fz);
    height: 1px;

    content: "";
    background-color: $theme;
  }

  &__text {
    $fz: 18;
    color: $primary;
    font-size: em($fz, $fz_base);
    font-weight: 300;
    line-height: 1.66;

    @media(max-width: $pc) {
      $fz: 16;
      font-size: em($fz, $fz_base);
    }
  }
}
