mixin CountersInfo(parent, content, needsLine)
  - parent = parent ? parent : 'counters';
  - countersInfoPromoClassLine = needsLine ? 'counters-info-promo--is-top-lined' : '';

  .counters-info(class=`${parent}__info`)
    h2.counters-info-title.counters-info__title
      span.counters-info-title__text= content.title

    p.counters-info-promo.counters-info__promo(class=countersInfoPromoClassLine)
      span.counters-info-promo__text= content.promo
